{% extends "template.html" %} {% block content %} {% load widget_tweaks %} {% load static %}
<main role="main">
    <div class="container text-center mt-5">
        <div class="row mb-4">
            <div class="col-md-12">
                <h1 style="font-size: 28px;">Candidato: {{object.nombrecompleto}} </h1>
            </div>
        </div>

        <div class="row mb-5">

            <div class="col-md-12">

                <div class="table-responsive">

                    <nav aria-label="breadcrumb mb-3">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../">Candidatos</a></li>
                            <li class="breadcrumb-item"><a href="#">Editar</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{object.nombrecompleto}}</a>
                            </li>
                        </ol>
                    </nav>

                    <div class="formulario" align="left">

                        <h4>Actualizar</h4>

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- {{ form.as_p }} -->
                            <div class="form-group">
                                <label for="nombrecompleto" class="txt_negrita">Nombre completo:</label> {{ form.nombrecompleto|add_class:"form-control" }}
                            </div>

                            <div class="form-group">
                                <label for="foto" class="txt_negrita">Fotografia (PNG, JPG):</label> {{ form.foto|add_class:"form-control mb-3" }}
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="sexo">Sexo:</label>
                                <select id="sexo" class="form-group" name="sexo">
                                    <optgroup label="Sexo">
                                        <option for="sexo" class="form-group" label="Masculino" name="sexo">M</option>
                                        <option for="sexo" class="form-group" label="Femenino" name="sexo">F</option>
                                    </optgroup>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="perfil" class="txt_negrita">Perfil (PDF):</label> {{ form.perfil|add_class:"form-control mb-3" }}
                            </div>
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <a href="../" type="submit" class="btn btn-primary">Volver</a>
                        </form>

                    </div>

                </div>

            </div>

        </div>
    </div>
    </div>
    </div>
    </div>
    <script type="text/javascript">
        $('.form-group').html(function(i, t) {
            return t.replace('Actualmente:', '<span class="ocultar">Actualmente:</span>');
        });

        $('.form-group').html(function(i, t) {
            return t.replace('Currently:', '<span class="ocultar">Currently:</span>');
        });
    </script>
    {% endblock %}