<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="theme-color" content="#000000" />

    <title>LHJC Elecciones </title>
    {% load bootstrap4 %} {% bootstrap_css %} {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body style="background: rgb(238, 238, 238);">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" ref="https://insiderdpl.web.app"><img src="https://lh3.googleusercontent.com/a-/AOh14Gj52m5ZQypnAKYUoSlLg1GoWCFFrdN3VzaGa8Kt9g=s96-c-rg-br100" width="30" height="30">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/casilla">Casillas</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/candidato">Candidatos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/funcionario">Funcionarios</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/eleccion">Elecciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">

        <div class="container text-center mt-5">

            <div class="row mb-5">
                <div class="col-md-12">
                    <h1 style="font-size: 28px;">Candidato: {{object.nombrecompleto}} </h1>
                </div>
            </div>

            <div class="row mb-5">

                <div class="col-md-10">

                    <div class="table-responsive">

                        <nav aria-label="breadcrumb mb-3">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../">Candidatos</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Editar</a>
                                </li>
                            </ol>
                        </nav>

                        <div class="formulario" align="left">

                            <h4>Detalles</h4>

                            <p><span class="txt_negrita">Nombre completo:</span> {{object.nombrecompleto}}</p>
                            <p><span class="txt_negrita">Foto:</span> <br> <img src="{% static 'uploads/'%}{{object.foto}}" alt="{{ object.nombrecompleto }}" class="img-fliud" width="80px"> </p>
                            <p><span class="txt_negrita">Sexo:</span> {{object.sexo}}</p>
                            <p><span class="txt_negrita">perfil:</span> <a href="/">{{object.perfil}}</a></p>
                            <a href="../" type="submit" class="btn btn-primary">Volver</a>

                        </div>

                    </div>

                </div>

            </div>

            <hr>


        </div>

    </main>
    <footer class="text-muted mt-3 mb-3">
        <div align="center">
            Desarrollado por <a href="https://insiderdpl.web.app" target="_blank">Juan Carlos LH | InsiderDP</a>
        </div>
    </footer>

    {# JS y jQuery Bootstrap #} {% bootstrap_javascript jquery='full' %}
</body>

</html>